[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
arcade = "*"
keyboard = "*"
pillow = "*"
shapely = "*"
tensorflow = "*"
keras = "*"

[requires]
python_version = "3.8"
